
/* Eliminates gaps on the right side of rendered html page */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Dark mode (this will be interactive later) */

body {
    color: #c3c3c3;   
    background-color: #1d1d1d;
    padding-top: 80px;
    font-size: 0.8rem;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
}

/* Text sytlings */

.text-large {
    font-size: 1.1rem;
}
.text-x-large {
    font-size: 1.5rem;
}
.nav-link {
    font-size: 1.2rem;
}
.text-bold {
    font-weight: 700;
}
.text-questrial {
    font-family: 'Questrial', sans-serif;
}
.badge {
    font-size: 100%;
    padding: .5em .5em;
}
th {
    font-size: 0.9rem;
}

/* Stock Chart*/

.chart-container {
    position: relative;
    height:45vh;
}

/* Navbar */

.navbar-brand-logo {
    background: url("../images/logo/white_logo_transparent_symbol.png");
    background-size: contain;        
    background-repeat: no-repeat;
    height: 60px;
    max-width: 70px;
    }
.navbar-brand span {
    height: 60px;
    max-width: 100px;
    margin-left: 10px;
}

.nav-link .badge {
    line-height: 0.7;
    font-size: 75%;
    margin-left: 7px;
}

/* Modal */

.modal {
    color: black;
}

/* Watch List */

/*-----------------------------------------Media Queries */

/*-----------Tablet (md) */

@media(min-width: 768px) {
    .navbar-brand-logo {
        background: url("/assets/images/logo/white_logo_transparent_long.png");
    }
}