
/* Eliminates gaps on the right side of rendered html page */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Dark mode (this will be interactive later) */

body {
    color: #c3c3c3;   
    background-color: #1d1d1d;
}
